// colours

$blue: #2D82B7;
$orange: #EB8A90;
$mauve: #F3DFBF;
$charcoal: #333534; // This is the base `black` colour for all text

// screen sizes

$desktop-large: 1700px;
$desktop-small: 1100px;
$tablet: 750px;
$phone: 400px;

